.footer {
  width: 100%;
  margin-top: 140px;
  background: black;
  min-height: 440px;
}

.footer__body {
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  gap: 70px;

  .footer__title {
    display: flex;

    .footer__collection {
      display: flex;
      gap: 87px;

      .exclusive {
        display: flex;
        flex-direction: column;
        gap: 24px;

        p {
          font-family: Inter;
          font-size: 24px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.03em;
          color: rgba(250, 250, 250, 1);
        }

        a {
          font-family: Poppins;
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
          color: rgba(250, 250, 250, 1);
          text-decoration: none;
        }

        span {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: rgba(250, 250, 250, 1);
        }

        button {
          display: flex;
          align-items: center;
          gap: 32px;
          padding: 12px 16px;
          border-radius: 4px;
          border: 1.5px solid rgba(250, 250, 250, 1);
          color: rgba(100, 100, 100);
          background: transparent;
          transition: 0.7s;

          .fa-right-long {
            color: rgba(250, 250, 250, 1);
          }

          &:hover {
            cursor: pointer;
            background-color: #7a1919;
            color: #fff;
          }
        }
      }

      .support {
        display: flex;
        flex-direction: column;
        width: 175px;
        gap: 16px;

        p {
          font-family: Poppins;
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
          color: rgba(250, 250, 250, 1);
          margin-bottom: 8px;
        }

        span {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: rgba(250, 250, 250, 1);
        }
      }

      .accaunts {
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
          font-family: Poppins;
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
          color: rgba(255, 255, 255, 1);
          margin-bottom: 8px;
        }

        span {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: rgba(250, 250, 250, 1);
        }
      }

      .download {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .download__title {
          display: flex;

          p {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            color: rgba(250, 250, 250, 1);
          }
        }

        .qr_code {
          display: flex;
          flex-direction: column;
          gap: 8px;
          p {
            font-family: Poppins;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            opacity: 70%;
            color: rgba(250, 250, 250, 1);
          }

          .google {
            display: flex;
            gap: 8px;
            align-items: center;

            .google__app {
              display: flex;
              flex-direction: column;
              gap: 8px;
            }
          }
        }

        .footer__icons {
          display: flex;
          gap: 24px;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  .footer__end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: rgba(61, 61, 61);
    }
  }
}
